<!DOCTYPE html>

<html lang="ru">
<head>
    <title>Склад - {{title}}</title>
    <link rel="stylesheet" href="../style.css">
</head>
<body>
<header>
    <ul class="header_menu">
        <li><a href="/">Главная</a></li>
        <li><a href="/suppliers">Поставщики</a></li>
        <li><a href="/products">Товары</a></li>
        <li><a href="/customers">Покупатели</a></li>
        <li><a href="/sales">Продажи</a></li>
        <li class="bg"></li>
        {% if session.loggedin %}
        <li class="li_text"><u>{{ session.username }}</u></li>
        <li><a href="/logout">Выйти</a></li>
        {% else %}
        <li><a href="/login">Авторизация</a></li>
        {% endif %}
    </ul>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul class=flashes>
        <h2>Уведомления</h2>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
</header>

<div id="content">
    {% block content %}{% endblock %}
</div>
</body>
</html>