{% extends "base.html" %}
{% block content %}

<table class="info_table">
    <caption>Информация о покупателе</caption>
    <tr>
        <td>Номер</td>
        <td>{{c[0]}}</td>
    </tr>
    <tr>
        <td>Название фирмы</td>
        <td>{{c[1]}}</td>
    </tr>
    <tr>
        <td>Адрес</td>
        <td>{{c[2]}}</td>
    </tr>
    <tr>
        <td>Телефон</td>
        <td>{{c[3]}}</td>
    </tr>
</table>

<table class="info_table">
    <caption>Список покупок</caption>
    {% for s in ss %}
    <tr>
        <td><a href="/sales/{{s[0]}}">{{s[4]}}</a></td>
    </tr>
    {% endfor %}
</table>

<a href="/customers/rm/{{c[0]}}">
    <button class="red_button" name="id" value="{{c[0]}}">Удалить</button>
</a>

{% endblock %}