{% extends "base.html" %}
{% block content %}

<table class="info_table">
    <caption>Информация о продаже</caption>
    <tr>
        <td>Номер</td>
        <td>{{s[0]}}</td>
    </tr>
    <tr>
        <td>Дата</td>
        <td>{{s[4]}}</td>
    </tr>
    <tr>
        <td>Покупатель</td>
        <td><a href="/customers/{{s[5]}}">{{s[6]}}</a></td>
    </tr>
    <tr>
        <td>Товар</td>
        <td><a href="/products/{{s[2]}}">{{s[12]}}</a></td>
    </tr>
    <tr>
        <td>Количество</td>
        <td>{{s[3]}} {{s[19]}}</td>
    </tr>
</table>

<a href="/sales/rm/{{s[0]}}">
    <button class="red_button" name="id" value="{{s[0]}}">Удалить</button>
</a>

{% endblock %}