{% extends "base.html" %}
{% block content %}

{% if session.role %}
{% if session.role >= 1 %}
<div class="form_div">
    <h3>Добавить продажу</h3>
    <form method="post" action="sales/add">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <input type="datetime-local" name="datetime">
        <select name="cid">
            <option disabled selected>Выберите покупателя</option>
            {% for c in cs %}
            <option name="cid" value="{{c[0]}}">{{c[1]}}</option>
            {% endfor %}
        </select>
        <select name="pid">
            <option disabled selected>Выберите товар</option>
            {% for p in ps %}
            <option name="pid" value="{{p[0]}}">{{p[2]}}</option>
            {% endfor %}
        </select>
        <input type="number" step="any" name="amount" placeholder="Количество">
        <input type="submit" value="Добавить">
    </form>
</div>
{% endif %}
{% endif %}

<div class="table_div">
    <h1>Список продаж</h1>
    <table>
        <tr>
            <th>Номер</th>
            <th>Дата</th>
            <th>Покупатель</th>
            <th>Товар</th>
            <th>Количество</th>
        </tr>
        {% for sale in sales %}
        <tr>
            <td><a href="/sales/{{sale[0]}}">{{sale[0]}}</a></td>
            <td><a href="/sales/{{sale[0]}}">{{sale[4]}}</a></td>
            <td><a href="/sales/{{sale[0]}}">{{sale[14]}}</a></td>
            <td><a href="/sales/{{sale[0]}}">{{sale[7]}}</a></td>
            <td><a href="/sales/{{sale[0]}}">{{sale[3]}} {{sale[19]}}</a></td>
        </tr>
        {% endfor %}
    </table>
</div>

<div class="form_div">
    <form method="post">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>

        <h3>Сортировка по дате</h3>
        <li>От <input type="datetime-local" name="start_date" value="{{ start_date }}"></li>
        <li>До <input type="datetime-local" name="end_date" value="{{ end_date }}"></li>
        <div class="div_b"></div>

        <h3>Сортировка по покупателю</h3>
        <select name="customer">
            <option value="" selected>Выберите покупателя</option>
            {% for c in cs %}
                {% if c[0] == customer %}
                    <option selected name="customer" value="{{c[0]}}">{{c[1]}}</option>
                {% else %}
                    <option name="customer" value="{{c[0]}}">{{c[1]}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <div class="div_b"></div>

        <h3>Сортировка по товару</h3>
        <select name="product">
            <option value="" selected>Выберите товар</option>
            {% for p in pss %}
                {% if p[0] == product %}
                    <option selected name="product" value="{{p[0]}}">{{p[2]}}</option>
                {% else %}
                    <option name="product" value="{{p[0]}}">{{p[2]}}</option>
                {% endif %}
            {% endfor %}
        </select>

        <input type="submit" value="Показать">
    </form>
</div>
{% endblock %}